{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}
{% block headline %}
<div class="jumbotron">
    <h1 class="display-4">Tasket Dashboard</h1>
    <p class="lead">{{ request.session.auth_name }}'s tasks and appointments.</p>
</div>
{% endblock %}

{% block nav %}
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

<h2>Here are your tasks for today, {{ today }}:</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Time</th>
            <th scope="col">Priority</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for task in curr_tasks %}
        <tr>
            <th scope="row">{{ task.task }}</th>
            <td>{{ task.date }}</td>
            <td>{{ task.get_status_display }}</td>
            <td><a class="btn btn-small btn-outline-primary" href="{% url 'edit' task_id=task.id %}">Edit</a>
                <a class="btn btn-small btn-outline-danger" href="{% url 'delete' task_id=task.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2>Your future:</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Time</th>
            <th scope="col">Priority</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for task in future_tasks %}
        <tr>
            <th scope="row">{{ task.task }}</th>
            <td>{{ task.date }}</td>
            <td>{{ task.get_status_display }}</td>
            <td><a class="btn btn-small btn-outline-primary" href="/task/edit/{{task.id}}/">Edit</a>
                <a class="btn btn-small btn-outline-danger" href="/task/delete/{{task.id}}/">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
<div class="col-sm-8">
    <h3>Add a task</h3>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="task" class="form-control" placeholder="Enter task description" maxlength="100" required />
            </div>
            <!-- <div class="form-group">
                <input type="date" name="date" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5" placeholder="Enter task date and time"/>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker5').datetimepicker({
                                format: 'YYYY-MM-DD',
                                minDate: 'now'
                            });
                        });
                    </script>
            </div> -->
            <div class="form-group">
                <!-- <div class="input-group date" id="datetimepicker1" data-target-input="nearest"> -->
                    <input type="date" name="date" class="form-control datetimepicker-input" id="datetimepicker1" data-target="#datetimepicker1" data-toggle="datetimepicker" placeholder="Enter task date and time"/>
                    <!-- <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker" > -->
                        <!-- <div class="input-group-text"><i class="fa fa-calendar"></i></div> -->
                    <!-- </div> -->
                <!-- </div> -->
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker({
                                minDate: 'now'
                            });
                        });</script>
            </div>
            <div class="form-group">
                <select class="form-control" name="status">
                    <option value="H">High</option>
                    <option value="M">Medium</option>
                    <option value="L">Low</option>
                </select>
                    <small class="form-text text-muted">Select task priority</small>
            </div>   
            <button type="submit" class="btn btn-primary">Add task</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% elif message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
</div>
{% endblock %}